@media (max-width:1115px){
    .aksiya{
        padding: 30% 0% 0 10%;
        text-align: center;
        justify-content: center;
    }
}
@media (max-width:990px){
    .aksiya{
        padding: 30% 0% 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:975px){
    .aksiya{
        padding: 50% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:800px){
    .payariq{
        flex-direction: column;
        justify-content: center;
    }
    .payariq .box{
        padding: 20% 0;
    }
}
@media (max-width:750px){
    .aksiya{
        padding: 60% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:710px){
    .payariq .box{
        padding: 30% 0;
    }
}
@media (max-width:690px){
    .aksiya{
        padding: 70% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:660px){
    .aksiya{
        padding: 75% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:645px){
    .aksiya{
        padding: 100% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:590px){
    .aksiya{
        padding: 120% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:550px){
    .aksiya{
        padding: 130% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:510px){
    .aksiya{
        padding: 140% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:500px){
    .aksiya{
        padding: 160% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:490){
    .payariq .box{
        padding: 40% 0;
    }
}
@media (max-width:466px){
    .aksiya{
        padding: 180% 0 0 10%;
        text-align: center;
        justify-content: center;
    }
    .payariq .box{
        padding: 40% 0;
    }
}
@media (max-width:440px){
    .aksiya{
        padding: 200% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:410px){
    .aksiya{
        padding: 220% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:400px){
    .aksiya{
        padding: 240% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:382px){
    .aksiya{
        padding: 260% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:372px){
    .payariq .box{
        padding: 40% 0;
    }

}
@media (max-width:366px){
    .payariq .box{
        padding: 60% 0;
    }

}
@media (max-width:363px){
    .aksiya{
        padding: 280% 0 0 10%;
        text-align: center;
        justify-content: center;
    }
    .payariq .box{
        padding: 80% 0;
    }
}
@media (max-width:340px){
    .aksiya{
        padding: 300% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
@media (max-width:320px){
    .aksiya{
        padding: 320% 0 0 10%;
        text-align: center;
        justify-content: center;
    }

}
